body{
  font:20px Arial, sans-serif;
}
.navbar{
  background-color: #688;
}

.quem-somos{
  background-color: rgb(88, 88, 145);
  color: white;
 
}

.margin{
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros{
  background-color: rgb(182, 182, 228);
}

.bg-footer{
  color: white;
  background-color: black;
  text-decoration: none;
}
